.DS_Store
bin
ant-build
libs/test
libs/compile
jars
build/
*.iws
.*
!.gitignore
*~
out

# IntelliJIDEA
*.iml
*.ipr
target/

# Eclipse Core
.project

# JDT-specific (Eclipse Java Development Tools)
.classpath
